
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}


.gioithieu-content {
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gioithieu-body {
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    line-height: 1.4; 
    color: #333;
    background-color: #f9f9f9; 
    margin: 0 20px;
    padding: 0px 170px;
}

.gioithieu-container {
    flex: 3;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gioithieu-title {
    font-size: 24px;
    color: #b62218;
    text-align: center;
    margin-bottom: 20px;
}


.gioithieu-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
}


.gioithieu-text img {
    height: 400px;
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
}



.gioithieu-highlight {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
    color: #b62218;
}


.gioithieu-image-section {
    text-align: center;
    margin-top: 20px;
    
}

.gioithieu-image-section img {
    width: 700px;
    height: 500px;
    border-radius: 8px;
    text-align: center;
}

.gioithieu-caption {
    font-size: 13px; 
    color: #666; 
    text-align: center; 
    margin-top: 5px; 
}
