
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lienhe-body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #f9f9f9;
  margin: 0 20px;
  padding: 0px 170px;
}

.lienhe-container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lienhe-title {
  font-size: 24px;
  color: #b62218;
  text-align: center;
  margin-bottom: 20px;
}

.lienhe-form {
  display: flex;
  flex-direction: column;
}

.lienhe-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.lienhe-form input,
.lienhe-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.lienhe-form textarea {
  resize: vertical;
  height: 150px;
}

.lienhe-form button {
  padding: 10px 20px;
  background-color: #b62218;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.lienhe-form button:hover {
  background-color: #800000;
}

.lienhe-captcha {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.lienhe-captcha img {
  margin-right: 10px;
}

.lienhe-captcha input {
  width: 130px;
}

.lienhe-footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #800000;
  color: white;
  border-radius: 8px;
}

.vote-section {
  margin-top: 30px;
  padding: 15px;
  background-color: #ffffff; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vote-section h2 {
  font-size: px;
  color: #333;
  margin-bottom: 15px;
}

.vote-section label {
  display: block; 
  font-size: 13px;
  margin-bottom: 10px;
  cursor: pointer; 
}

.vote-section input[type="radio"] {
  margin-right: 8px; 
}

.vote-section button {
  padding: 10px 20px; 
  background-color: #b62218; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 

  transition: background-color 0.3s; 
}

.vote-section button:hover {
  background-color: #800000; 
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(5px); 
    transition: opacity 0.3s ease; 
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 8px; 
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    animation: slide-down 0.3s ease; 
}

.close {
    color: #333;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ff5c5c; 
    text-decoration: none;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 500;
    color: #283f60;
}

#resultsContent {
    text-align: left;
    font-size: 16px;
    color: #555;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

