/* sidebar.css */

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar h2 a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 13px;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.parent-item {
    margin-top: 10px;
}

.parent-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}

.arrow {
    font-size: 9px;
    position: absolute;
    right: 10px;
    color: #fff;
    transition: transform 0.3s ease;
}

#articleButtons, #documentButtons {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-left: 10px;
    margin-left: 25px;
    border-left: 2px solid #fff;
    border-radius: 4px;
}

.submenu-item a {
    display: block;
    padding: 5px 10px;
    font-size: 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}
